@import 'definitions';

// Define a class for the file list container
.file-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .file-list ul{
    margin: 0;
    padding: 0;
  }

// Define styles for each list item (file entry)
.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  transition: background-color 0.2s;

  &:hover {
    background-color: #e0e0e0;
  }
  
  // Style the file link
  .file-link {
    text-decoration: none;
    color: $blue;
    font-weight: bold;
    flex: 1;
  }
}